# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
venv/
.venv/

# Django
db.sqlite3
staticfiles/

# Env
.env

# OS / IDE
.DS_Store
.idea/
.vscode/

# Frontend (Vite/React)
frontend/node_modules/
frontend/dist/
frontend/.vite/

